@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter/Inter-VariableFont_opsz,wght.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
}

button.small {
  @apply p-1 text-sm bg-white text-black border border-black;
}

button.group {
  @apply p-2 text-sm bg-white text-black border border-black;
}

button.pay {
  @apply rounded border border-orange-500 bg-transparent font-semibold text-orange-500 hover:border-transparent hover:bg-orange-500 hover:text-white flex-1 min-w-[20rem] border-2 border-black bg-white p-8 text-xl rounded-xl flex justify-start gap-4;
}

button.pay:disabled {
  @apply bg-gray-100 border-gray-400 text-gray-400 hover:shadow-none;
}

input[type='checkbox'] {
  @apply mr-2;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}