button.small {
  @apply border border-black bg-white p-1 text-sm text-black;
}

button.group {
  @apply border border-black bg-white p-2 text-sm text-black;
}

button.pay {
  @apply flex min-w-[20rem] flex-1 justify-start gap-4 rounded rounded-xl border border-2 border-black border-orange-500 bg-transparent bg-white p-8 text-xl font-semibold text-orange-500 hover:border-transparent hover:bg-orange-500 hover:text-white;
}

button.pay:disabled {
  @apply border-gray-400 bg-gray-100 text-gray-400 hover:shadow-none;
}

input[type='checkbox'] {
  @apply mr-2;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
